body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:160px;
    top:203px;
    width:190px;
    height:26px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:26px;
    
}

.u1_normal {
    background-image: url('../管理收藏页面_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:10px;
    top:0px;
    width:180px;
    height:25px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:31px;
}

.u2 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:19px;
    top:11px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../管理收藏页面_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:427px;
    top:14px;
    width:282px;
    height:235px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:288px;
    height:241px;
}

.u5 {
    position:absolute;
    left:2px;
    top:86px;
    width:278px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:19px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:19px;
    top:130px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:19px;
    top:316px;
    width:343px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9_normal {
    background-image: url('../管理收藏页面_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:741px;
    top:57px;
    width:180px;
    height:80px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u10 {
    position:absolute;
    left:2px;
    top:24px;
    width:176px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../管理收藏页面_files/u1_normal.png');
}

.u11_container {
    position:absolute;
    left:741px;
    top:147px;
    width:180px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_selected {
    background-image: url('../管理收藏页面_files/u15_selected.png');
}

.u15_normal {
    background-image: url('../管理收藏页面_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u16 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u17_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u18 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u20_selected {
    background-image: url('../管理收藏页面_files/u15_selected.png');
}

.u20_normal {
    background-image: url('../管理收藏页面_files/u15_normal.png');
}

.u20_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u23 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u26 {
    position:absolute;
    left:3px;
    top:2px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u29 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u32_selected {
    background-image: url('../管理收藏页面_files/u15_selected.png');
}

.u32_normal {
    background-image: url('../管理收藏页面_files/u15_normal.png');
}

.u32_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u34_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u35 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u37_selected {
    background-image: url('../管理收藏页面_files/u15_selected.png');
}

.u37_normal {
    background-image: url('../管理收藏页面_files/u15_normal.png');
}

.u37_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u38 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u39_container {
    position:absolute;
    left:22px;
    top:0px;
    width:39px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:26px;
}

.u40 {
    position:absolute;
    left:3px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u42_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u42_container {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u43 {
    position:absolute;
    left:3px;
    top:2px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u45_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u45_container {
    position:absolute;
    left:22px;
    top:0px;
    width:43px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:49px;
    height:26px;
}

.u46 {
    position:absolute;
    left:3px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

