body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:20px;
    top:203px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_selected {
    background-image: url('../管理产品页面_files/u3_selected.png');
}

.u3_normal {
    background-image: url('../管理产品页面_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u4 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u5_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u6 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u8_selected {
    background-image: url('../管理产品页面_files/u3_selected.png');
}

.u8_normal {
    background-image: url('../管理产品页面_files/u3_normal.png');
}

.u8_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u11 {
    position:absolute;
    left:3px;
    top:2px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:22px;
    top:0px;
    width:78px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u14 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:22px;
    top:0px;
    width:78px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u17 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u19_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u20 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u22 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../管理产品页面_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:450px;
    top:203px;
    width:100px;
    height:25px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u26 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../管理产品页面_files/u25_normal.png');
}

.u27_container {
    position:absolute;
    left:50px;
    top:341px;
    width:100px;
    height:25px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u28 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../header_for_gys_files/u18_normal.png');
}

.u29_container {
    position:absolute;
    left:20px;
    top:31px;
    width:181px;
    height:80px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:86px;
}

.u30 {
    position:absolute;
    left:2px;
    top:32px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../header_for_gys_files/u20_normal.png');
}

.u31_container {
    position:absolute;
    left:226px;
    top:31px;
    width:180px;
    height:80px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u32 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:30px;
    top:129px;
    width:194px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

