body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:25px;
    top:368px;
    width:722px;
    height:68px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u1_mouseOver {
    background-image: url('../header_files/u0_mouseOver.png');
}

.u1_normal {
    background-image: url('../header_files/u0_normal.png');
}

.u1_container {
    position:absolute;
    left:758px;
    top:31px;
    width:130px;
    height:32px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:38px;
}

.u2 {
    position:absolute;
    left:2px;
    top:8px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:216px;
    top:31px;
    width:512px;
    height:33px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_normal {
    background-image: url('../header_files/u3_normal.png');
}

.u4_container {
    position:absolute;
    left:25px;
    top:31px;
    width:181px;
    height:80px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:86px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_menu {
    background-image: url('../header_files/u5_menu.png');
}

.u6_menu {
    position:absolute;
    left:213px;
    top:82px;
    width:815px;
    height:35px;
}

#u6_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:812px;
    height:32px;
}

#u7 {
    position:absolute;
    left:3px;
    top:3px;
    width:805px;
    height:25px
}

.u8_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u10_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u12_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u14_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u16_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u18_container {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u20_container {
    position:absolute;
    left:600px;
    top:0px;
    width:100px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u22_container {
    position:absolute;
    left:700px;
    top:0px;
    width:100px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_menu {
    background-image: url('../header_files/u23_menu.png');
}

.u24_menu {
    position:absolute;
    left:100px;
    top:20px;
    width:115px;
    height:115px;
}

#u24_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:112px;
}

#u25 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:105px
}

.u26_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_menu {
    background-image: url('../header_files/u35_menu.png');
}

.u36_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:115px;
    height:95px;
}

#u36_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:92px;
}

#u37 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:85px
}

.u38_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../header_files/u45_normal.png');
}

.u46_container {
    position:absolute;
    left:25px;
    top:121px;
    width:997px;
    height:80px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1003px;
    height:86px;
}

.u47 {
    position:absolute;
    left:2px;
    top:32px;
    width:993px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../header_files/u47_mouseOver.png');
}

.u48_normal {
    background-image: url('../header_files/u47_normal.png');
}

.u48_container {
    position:absolute;
    left:916px;
    top:49px;
    width:100px;
    height:14px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:20px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-1px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../header_files/u47_mouseOver.png');
}

.u50_normal {
    background-image: url('../header_files/u47_normal.png');
}

.u50_container {
    position:absolute;
    left:916px;
    top:28px;
    width:100px;
    height:14px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:20px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-1px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../分销商信息_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:25px;
    top:214px;
    width:180px;
    height:80px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u54 {
    position:absolute;
    left:2px;
    top:16px;
    width:176px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../分销商信息_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:236px;
    top:242px;
    width:296px;
    height:80px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:86px;
}

.u56 {
    position:absolute;
    left:2px;
    top:8px;
    width:292px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:25px;
    top:554px;
    width:89px;
    height:59px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u58 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u59_container {
    position:absolute;
    left:150px;
    top:554px;
    width:89px;
    height:59px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u60 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u61_container {
    position:absolute;
    left:271px;
    top:554px;
    width:89px;
    height:59px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u62 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u63_container {
    position:absolute;
    left:390px;
    top:554px;
    width:89px;
    height:59px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u64 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u65_container {
    position:absolute;
    left:523px;
    top:554px;
    width:89px;
    height:59px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u66 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:34px;
    top:485px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:236px;
    top:213px;
    width:436px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69 {
    position:absolute;
    left:550px;
    top:242px;
    width:121px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#FF0000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:25px;
    top:346px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../分销商信息_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:25px;
    top:367px;
    width:100px;
    height:53px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:59px;
}

.u72 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_line {
    background-image: url('../分销商信息_files/u73_line.png');
}

.u73_line {
    position:absolute;
    left:0px;
    top:4px;
    width:993px;
    height:3px;
}

.u73 {
    position:absolute;
    left:25px;
    top:326px;
    width:993px;
    height:10px;
    
}

.u74 {
    position:absolute;
    left:25px;
    top:420px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../分销商信息_files/u71_normal.png');
}

.u75_container {
    position:absolute;
    left:170px;
    top:367px;
    width:100px;
    height:53px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:59px;
}

.u76 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:170px;
    top:420px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../分销商信息_files/u71_normal.png');
}

.u78_container {
    position:absolute;
    left:321px;
    top:367px;
    width:100px;
    height:53px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:59px;
}

.u79 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:321px;
    top:420px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../分销商信息_files/u71_normal.png');
}

.u81_container {
    position:absolute;
    left:471px;
    top:367px;
    width:100px;
    height:53px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:59px;
}

.u82 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:471px;
    top:420px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../分销商信息_files/u71_normal.png');
}

.u84_container {
    position:absolute;
    left:621px;
    top:367px;
    width:100px;
    height:53px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:59px;
}

.u85 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:621px;
    top:420px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:890px;
    top:341px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../分销商信息_files/u71_normal.png');
}

.u88_container {
    position:absolute;
    left:890px;
    top:367px;
    width:100px;
    height:53px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:59px;
}

.u89 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:890px;
    top:420px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_line {
    background-image: url('../分销商信息_files/u91_line.png');
}

.u91_line {
    position:absolute;
    left:0px;
    top:4px;
    width:993px;
    height:3px;
}

.u91 {
    position:absolute;
    left:25px;
    top:465px;
    width:993px;
    height:10px;
    
}

.u92 {
    position:absolute;
    left:26px;
    top:861px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:99px;
    top:893px;
    width:386px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:91px;
    top:919px;
    width:539px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:186px;
    top:861px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:400px;
    top:861px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:890px;
    top:496px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:40px;
    top:613px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:160px;
    top:613px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:271px;
    top:613px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:390px;
    top:613px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:523px;
    top:613px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:34px;
    top:521px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:179px;
    top:521px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:330px;
    top:521px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:480px;
    top:521px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:630px;
    top:521px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u109_container {
    position:absolute;
    left:24px;
    top:639px;
    width:89px;
    height:59px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u110 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u111_container {
    position:absolute;
    left:149px;
    top:639px;
    width:89px;
    height:59px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u112 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u113_container {
    position:absolute;
    left:270px;
    top:639px;
    width:89px;
    height:59px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u114 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u115_container {
    position:absolute;
    left:389px;
    top:639px;
    width:89px;
    height:59px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u116 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u117_container {
    position:absolute;
    left:522px;
    top:639px;
    width:89px;
    height:59px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u118 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:39px;
    top:698px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:159px;
    top:698px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:270px;
    top:698px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:389px;
    top:698px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:522px;
    top:698px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u124_container {
    position:absolute;
    left:24px;
    top:730px;
    width:89px;
    height:59px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u125 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u126_container {
    position:absolute;
    left:149px;
    top:730px;
    width:89px;
    height:59px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u127 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u128_container {
    position:absolute;
    left:270px;
    top:730px;
    width:89px;
    height:59px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u129 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u130_container {
    position:absolute;
    left:389px;
    top:730px;
    width:89px;
    height:59px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u131 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../分销商信息_files/u57_normal.png');
}

.u132_container {
    position:absolute;
    left:522px;
    top:730px;
    width:89px;
    height:59px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:59px;
}

.u133 {
    position:absolute;
    left:2px;
    top:22px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:39px;
    top:789px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:159px;
    top:789px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:270px;
    top:789px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:389px;
    top:789px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:522px;
    top:789px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:146px;
    top:829px;
    width:374px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

