body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:10px;
    top:196px;
    width:345px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:16px;
    top:329px;
    width:132px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u2_normal {
    background-image: url('../认领产品生产商页面_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:171px;
    top:329px;
    width:100px;
    height:25px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../认领产品生产商页面_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:36px;
    top:222px;
    width:754px;
    height:69px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:754px;
    height:69px;
}

.u5 {
    position:absolute;
    left:2px;
    top:26px;
    width:750px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:20px;
    top:364px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:264px;
    top:254px;
    width:181px;
    height:81px;
    overflow:hidden;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:81px;
    
}

.u14_normal {
    background-image: url('../认领产品生产商页面_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:80px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u15 {
    position:absolute;
    left:2px;
    top:16px;
    width:176px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:170px;
    top:380px;
    width:100px;
    height:46px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17_line {
    background-image: url('../认领产品生产商页面_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:780px;
    height:3px;
}

.u17 {
    position:absolute;
    left:10px;
    top:301px;
    width:780px;
    height:10px;
    
}

.u18_line {
    background-image: url('../认领产品生产商页面_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:773px;
    height:3px;
}

.u18 {
    position:absolute;
    left:10px;
    top:438px;
    width:773px;
    height:10px;
    
}

.u19 {
    position:absolute;
    left:20px;
    top:458px;
    width:749px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../认领产品生产商页面_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:36px;
    top:484px;
    width:754px;
    height:69px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:754px;
    height:69px;
}

.u21 {
    position:absolute;
    left:2px;
    top:26px;
    width:750px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../认领产品生产商页面_files/u2_normal.png');
}

.u22_container {
    position:absolute;
    left:50px;
    top:563px;
    width:100px;
    height:25px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../header_for_gys_files/u18_normal.png');
}

.u24_container {
    position:absolute;
    left:10px;
    top:20px;
    width:181px;
    height:80px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:86px;
}

.u25 {
    position:absolute;
    left:2px;
    top:32px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../header_for_gys_files/u20_normal.png');
}

.u26_container {
    position:absolute;
    left:216px;
    top:20px;
    width:180px;
    height:80px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u27 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:20px;
    top:118px;
    width:194px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

