/* CSS Document */

body{ font-family: "ËÎÌå"; font-size:12px; color:#707070; width:100%; margin:0 auto;text-align:padding:0;border:none; background:url(../images/body.jpg);}
dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,p,a,div,br,span,input,textarea,usermap,area,map{margin:0;padding:0;border:0;list-style:none;outline:none;}

a{ color:#707070; text-decoration:none;}


.box{ width:1000px; height:auto; margin:0 auto; }
.top{ width:100%; height:1px; float:left; margin-top:1px; border-bottom:#FF0000 solid 1px;}
.logo{ width:235px; height:106px; float:left;}
.sous{ width:614px; height:30px; float:left; margin:21px 0 0 10px; display:inline; background:url(../images/weq03.jpg);}
.sous img{ float:right; margin:1px 10px 0 0; display:inline;}
.sou{ width:500px; height:28px; float:left; line-height:30px; margin:1px 0 0 5px; display:inline;}
.anniu{ width:77px; height:18px; float:right; margin:8px 32px 0 0; display:inline; font-family: "ËÎÌå"; color:#FFFFFF; text-align:center; line-height:18px; background:url(../images/anniu_03.jpg);}
.anniu a{color:#FFFFFF;}
.dh{ width:763px; height:40px; float:left; margin-top:8px; background:url(../images/dh_03.jpg);}
.dh ul{ width:752px; height:40px; float:left; margin-left:11px; display:inline;}
.dh li{ width:94px; height:40px; float:left; font-family: "Î¢ÈíÑÅºÚ"; font-size:16px; color:#FFFFFF; text-align:center; line-height:40px;}
.dh a{color:#FFFFFF;}

.banner{ width:986px; height:124px; float:left; margin-top:3px; margin-left:7px; display:inline;}

.left{ width:222px; height:auto; float:left;}
.gz{ width:222px; height:370px; float:left; margin:10px 0 0 0; background:url(../images/cail_03.jpg);}
.wz{ width:222px; height:300px; margin:52px 0 0 0;}
.wz ul{ width:160px; height:300px; margin:0 auto;}
.wz li{ width:160px; height:30px; float:left;  line-height:30px;}


.gz1{ width:222px; height:370px; float:left; margin:10px 0 0 0; background:url(../images/gongy_03.jpg);}
.wz1{ width:222px; height:300px; margin:52px 0 0 0;}
.wz1 ul{ width:160px; height:300px; margin:0 auto;}
.wz1 li{ width:160px; height:30px; float:left;  line-height:30px;}



.center{ width:536px; height:auto; float:left; margin-left:10px; display:inline;}
.qyjs{ width:536px; height:227px; float:left; margin:10px 0 0 0;}
.gd{ width:120px; height:16px; float:right; margin:10px 0 0 0; display:inline; font-size:14px; padding:0 0 0 410px; display:inline;}
.gd a{ color:#0066FF;}

.clfx{ width:244px; height:auto; float:left; margin:20px 14px 0 10px; display:inline;}
.clfx1{ width:244px; height:30px; float:left; background: url(../images/clfx_03.jpg);}
.clfx2{ height:16px; float:left; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; line-height:16px;  margin-top:6px; }
.clfx2 img{ margin:2px 5px 0 10px; float:left;}
.more{ width:36px; height:7px; float:right; margin:15px 5px 0 0; display:inline;}
.clfx3{ width:244px; height:auto; float:left; margin-top:10px;}
.clfx3 ul{ width:244px; height:auto; float:left;}
.clfx3 li{ width:224px; height:30px; float:left; line-height:30px; padding:0 0 0 20px; border-bottom:#808080 dashed 1px;}

.clfx a:hover{ color:#0066ff;}

.right{ width:222px; height:auto; float:right;}
.gz2{ width:222px; height:370px; float:left; margin:10px 0 0 0; background:url(../images/pp_03.jpg);}
.wz2{ width:222px; height:300px; margin:52px 0 0 0;}
.wz2 ul{ width:160px; height:300px; margin:0 auto;}
.wz2 li{ width:160px; height:30px; float:left;  line-height:30px;}

.right1{ width:222px; height:auto; float:left; }
.right1 img{ width:222px; height:84px; float:left; margin:10px 0 0 0;}


.rxcp{ width:1000px; height:auto; float:left; margin:10px 0 0 0; }
.rxcp1{ width:1000px; height:30px; float:left; background:url(../images/qqq3.jpg);}
.rxcp2{ height:16px; float:left; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; line-height:16px;  margin-top:6px; }
.rxcp2 img{ margin:2px 5px 0 10px; float:left;}
.rxcp3{ width:960px; height:auto; float:left; margin:20px 0 0 20px; display:inline;}
.pii{ width:167px; height:195px; float:left;  margin:0 10px 0 10px; display:inline; text-align:center; line-height:36px;}
.pii img{padding:3px; border:#a1a1a1 solid 1px; width:167px; height:159px; float:left;}



.gywm{ width:324px; height:auto; float:left; margin:10px 0 0 0;}
.gywm1{width:324px; height:30px; float:left; background:url(../images/qwqw.jpg);}
.gywm2{ height:16px; float:left; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; line-height:16px;  margin-top:6px; }
.gywm2 img{ margin:2px 5px 0 10px; float:left;}
.more{ width:36px; height:7px; float:right; margin:15px 5px 0 0; display:inline;}
.gywm3{ width:300px; height:120px; float:left; line-height:24px; margin:15px 0 0 12px; display:inline;}

.ggfw{ width:324px; height:auto; float:left; margin:10px 0 0 10px; display:inline;}
.ggfw1{width:324px; height:30px; float:left; background:url(../images/qwqw.jpg);}
.ggfw2{ height:16px; float:left; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; line-height:16px;  margin-top:6px; }
.ggfw2 img{ margin:2px 5px 0 10px; float:left;}
.more{ width:36px; height:7px; float:right; margin:15px 5px 0 0; display:inline;}
.ggfw3{ width:300px; height:120px; float:left; margin:15px 0 0 12px; display:inline;}
.ggfw3 ul{ width:300px; height:120px; float:left;}
.ggfw3 li{ width:280px; height:30px; float:left; line-height:30px; border-bottom:#808080 dashed 1px; background:url(../images/we.jpg); padding-left:20px; display:inline; }

.ggfw3 a:hover{ color:#0066FF;}


.foot{ width:1000px; height:auto; float:left; border-top:#FF0000 solid 2px; margin-top:30px; padding:0 0 30px 0;}
.foot2{ width:1000px; height:auto; float:left; text-align:center; line-height:36px;}
.foot2 a{ color:#707070;}
.foot p{ text-align:center; line-height:24px;}

/* common styling */
.dh {position:relative;}
.dh ul li a, .dh ul li a:visited {display:block;}
.dh ul {list-style-type: none;}
.dh ul li {float:left;position:relative;}
.dh ul li ul {display:none; width:760px;}
.dh ul li ul li {width:152px; float:left;}
/* specific to non IE browsers */
.dh ul li:hover a {color:#000; background:#fff; }
.dh ul li:hover ul {display:block; position:absolute; bottom:-40px; left:-11px;}
.dh ul li:hover ul li a.hide {background:#fff; color:#000;display:block;clear:both;}
.dh ul li:hover ul li:hover a.hide {background:#ececec; color:#000;}
.dh ul li:hover ul li ul {display: none;}
.dh ul li:hover ul li a {display:block; background:#fff; color:#000; width:100%;}
.dh ul li:hover ul li a:hover {background:#ececec; color:#000; }
.dh ul li:hover ul li:hover ul {display:block; position:absolute;left:158px; bottom:0; top:40px; clear:both; width:152px;}
.dh ul li:hover ul li ul li {display:block;clear:both; float:left; width:152px;}
.dh ul li:hover ul li:hover ul li a {background:#fff; color:#000;}
.dh ul li:hover ul li:hover ul li a:hover {background:#ececec; color:#000; }
.dh ul li:hover ul li:hover ul.left {left:-100px; width:145px;}