body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:34px;
    top:236px;
    width:361px;
    height:361px;
    overflow:hidden;
}

#pd4u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:361px;
    height:361px;
    
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:360px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:360px;
}

.u2 {
    position:absolute;
    left:2px;
    top:172px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:361px;
    height:361px;
    
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:360px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:360px;
}

.u4 {
    position:absolute;
    left:2px;
    top:172px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:361px;
    height:361px;
    
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:360px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:360px;
}

.u6 {
    position:absolute;
    left:2px;
    top:172px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:361px;
    height:361px;
    
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:360px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:360px;
}

.u8 {
    position:absolute;
    left:2px;
    top:172px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:361px;
    height:361px;
    
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:360px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:360px;
}

.u10 {
    position:absolute;
    left:2px;
    top:172px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_container {
    position:absolute;
    left:36px;
    top:597px;
    width:60px;
    height:60px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u12 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:118px;
    top:200px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../产品详情页_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:416px;
    top:242px;
    width:603px;
    height:253px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:609px;
    height:259px;
}

.u15 {
    position:absolute;
    left:2px;
    top:12px;
    width:599px;
    height:228px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:34px;
    top:1172px;
    width:386px;
    height:113px
}

.u17_normal {
    background-image: url('../产品详情页_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:108px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:114px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:125px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../产品详情页_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:129px;
    top:0px;
    width:115px;
    height:108px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:114px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:88px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../产品详情页_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:244px;
    top:0px;
    width:137px;
    height:108px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:114px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../header_files/u0_mouseOver.png');
}

.u23_normal {
    background-image: url('../header_files/u0_normal.png');
}

.u23_container {
    position:absolute;
    left:767px;
    top:12px;
    width:130px;
    height:32px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:38px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:225px;
    top:12px;
    width:512px;
    height:33px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26_normal {
    background-image: url('../header_files/u3_normal.png');
}

.u26_container {
    position:absolute;
    left:34px;
    top:12px;
    width:181px;
    height:80px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:86px;
}

.u27 {
    position:absolute;
    left:2px;
    top:32px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_menu {
    background-image: url('../header_files/u5_menu.png');
}

.u28_menu {
    position:absolute;
    left:222px;
    top:63px;
    width:815px;
    height:35px;
}

#u28_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:812px;
    height:32px;
}

#u29 {
    position:absolute;
    left:3px;
    top:3px;
    width:805px;
    height:25px
}

.u30_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u32_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u34_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u36_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u38_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u40_container {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u42_container {
    position:absolute;
    left:600px;
    top:0px;
    width:100px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u44_container {
    position:absolute;
    left:700px;
    top:0px;
    width:100px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_menu {
    background-image: url('../header_files/u23_menu.png');
}

.u46_menu {
    position:absolute;
    left:100px;
    top:20px;
    width:115px;
    height:115px;
}

#u46_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:112px;
}

#u47 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:105px
}

.u48_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_menu {
    background-image: url('../header_files/u35_menu.png');
}

.u58_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:115px;
    height:95px;
}

#u58_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:92px;
}

#u59 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:85px
}

.u60_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../header_files/u7_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../header_files/u45_normal.png');
}

.u68_container {
    position:absolute;
    left:34px;
    top:102px;
    width:997px;
    height:80px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1003px;
    height:86px;
}

.u69 {
    position:absolute;
    left:2px;
    top:32px;
    width:993px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_mouseOver {
    background-image: url('../header_files/u47_mouseOver.png');
}

.u70_normal {
    background-image: url('../header_files/u47_normal.png');
}

.u70_container {
    position:absolute;
    left:925px;
    top:30px;
    width:100px;
    height:14px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:20px;
}

.u71 {
    position:absolute;
    left:2px;
    top:-1px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_mouseOver {
    background-image: url('../header_files/u47_mouseOver.png');
}

.u72_normal {
    background-image: url('../header_files/u47_normal.png');
}

.u72_container {
    position:absolute;
    left:925px;
    top:9px;
    width:100px;
    height:14px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:20px;
}

.u73 {
    position:absolute;
    left:2px;
    top:-1px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../产品详情页_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:205px;
    top:1012px;
    width:264px;
    height:70px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:76px;
}

.u76 {
    position:absolute;
    left:2px;
    top:3px;
    width:260px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../产品详情页_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:34px;
    top:826px;
    width:976px;
    height:142px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:982px;
    height:148px;
}

.u78 {
    position:absolute;
    left:2px;
    top:63px;
    width:972px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:36px;
    top:682px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_line {
    background-image: url('../产品详情页_files/u80_line.png');
}

.u80_line {
    position:absolute;
    left:0px;
    top:4px;
    width:940px;
    height:3px;
}

.u80 {
    position:absolute;
    left:34px;
    top:993px;
    width:940px;
    height:10px;
    
}

.u81_line {
    background-image: url('../产品详情页_files/u81_line.png');
}

.u81_line {
    position:absolute;
    left:0px;
    top:4px;
    width:940px;
    height:3px;
}

.u81 {
    position:absolute;
    left:34px;
    top:1102px;
    width:940px;
    height:10px;
    
}

.u82_line {
    background-image: url('../产品详情页_files/u82_line.png');
}

.u82_line {
    position:absolute;
    left:0px;
    top:4px;
    width:940px;
    height:3px;
}

.u82 {
    position:absolute;
    left:34px;
    top:1274px;
    width:940px;
    height:10px;
    
}

.u83 {
    position:absolute;
    left:790px;
    top:459px;
    width:205px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#FF0000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84 {
    position:absolute;
    left:150px;
    top:1288px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:223px;
    top:1320px;
    width:386px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:215px;
    top:1346px;
    width:539px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:310px;
    top:1288px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:524px;
    top:1288px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../产品详情页_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:416px;
    top:512px;
    width:602px;
    height:274px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:608px;
    height:280px;
}

.u91 {
    position:absolute;
    left:2px;
    top:129px;
    width:598px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../产品详情页_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:84px;
    top:711px;
    width:166px;
    height:68px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:74px;
}

.u93 {
    position:absolute;
    left:2px;
    top:10px;
    width:162px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_container {
    position:absolute;
    left:106px;
    top:597px;
    width:60px;
    height:60px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u95 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_container {
    position:absolute;
    left:180px;
    top:597px;
    width:60px;
    height:60px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u97 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_container {
    position:absolute;
    left:256px;
    top:597px;
    width:60px;
    height:60px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u99 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_container {
    position:absolute;
    left:328px;
    top:597px;
    width:60px;
    height:60px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u101 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_line {
    background-image: url('../产品详情页_files/u102_line.png');
}

.u102_line {
    position:absolute;
    left:0px;
    top:4px;
    width:984px;
    height:3px;
}

.u102 {
    position:absolute;
    left:34px;
    top:806px;
    width:984px;
    height:10px;
    
}

.u103 {
    position:absolute;
    left:115px;
    top:1129px;
    width:88px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104 {
    position:absolute;
    left:258px;
    top:1129px;
    width:126px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u105 {
    position:absolute;
    left:412px;
    top:1129px;
    width:126px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u106 {
    position:absolute;
    left:207px;
    top:1129px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:384px;
    top:1129px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:548px;
    top:1132px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:36px;
    top:1129px;
    width:63px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u111 {
    position:absolute;
    left:34px;
    top:198px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../产品详情页_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:45px;
    top:1012px;
    width:125px;
    height:76px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:76px;
}

.u113 {
    position:absolute;
    left:2px;
    top:30px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

