body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:61px;
    top:137px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:61px;
    top:161px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:96px;
    top:161px;
    width:74px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:200px;
    top:161px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:250px;
    top:161px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:61px;
    top:270px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:160px;
    top:270px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:61px;
    top:305px;
    width:297px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:160px;
    top:319px;
    width:180px;
    height:14px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:160px;
    top:337px;
    width:180px;
    height:14px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:160px;
    top:352px;
    width:180px;
    height:14px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:160px;
    top:384px;
    width:180px;
    height:14px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:160px;
    top:368px;
    width:180px;
    height:14px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:160px;
    top:400px;
    width:180px;
    height:14px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_line {
    background-image: url('../新增材料页面_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:777px;
    height:3px;
}

.u14 {
    position:absolute;
    left:33px;
    top:217px;
    width:777px;
    height:10px;
    
}

.u15 {
    position:absolute;
    left:61px;
    top:244px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:61px;
    top:296px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:160px;
    top:287px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18_line {
    background-image: url('../新增材料页面_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:774px;
    height:3px;
}

.u18 {
    position:absolute;
    left:36px;
    top:427px;
    width:774px;
    height:10px;
    
}

.u19 {
    position:absolute;
    left:61px;
    top:455px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:330px;
    top:453px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:140px;
    top:451px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:61px;
    top:490px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:330px;
    top:488px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:140px;
    top:486px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:61px;
    top:527px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:330px;
    top:525px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:140px;
    top:523px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:61px;
    top:562px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:330px;
    top:560px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:140px;
    top:558px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:61px;
    top:597px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:330px;
    top:595px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:140px;
    top:593px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34_line {
    background-image: url('../新增材料页面_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:774px;
    height:3px;
}

.u34 {
    position:absolute;
    left:36px;
    top:637px;
    width:774px;
    height:10px;
    
}

.u35 {
    position:absolute;
    left:61px;
    top:666px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:61px;
    top:702px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:330px;
    top:700px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:140px;
    top:698px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:61px;
    top:737px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:330px;
    top:735px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:140px;
    top:733px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:61px;
    top:774px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:330px;
    top:772px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:140px;
    top:770px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45_normal {
    background-image: url('../header_for_gys_files/u18_normal.png');
}

.u45_container {
    position:absolute;
    left:46px;
    top:16px;
    width:181px;
    height:80px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:86px;
}

.u46 {
    position:absolute;
    left:2px;
    top:32px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../header_for_gys_files/u20_normal.png');
}

.u47_container {
    position:absolute;
    left:252px;
    top:16px;
    width:180px;
    height:80px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u48 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:56px;
    top:114px;
    width:194px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_line {
    background-image: url('../新增材料页面_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:0px;
    top:4px;
    width:774px;
    height:3px;
}

.u51 {
    position:absolute;
    left:36px;
    top:829px;
    width:774px;
    height:10px;
    
}

#u52 {
    position:absolute;
    left:264px;
    top:254px;
    width:181px;
    height:81px;
    overflow:hidden;
}

#pd0u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:81px;
    
}

.u53_normal {
    background-image: url('../新增材料页面_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:80px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u54 {
    position:absolute;
    left:2px;
    top:16px;
    width:176px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:120px;
    top:763px;
    width:181px;
    height:81px;
    overflow:hidden;
}

#pd0u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:81px;
    
}

.u56_normal {
    background-image: url('../save_for_gys_files/u1_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:80px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u57 {
    position:absolute;
    left:2px;
    top:16px;
    width:176px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:153px;
    top:853px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:61px;
    top:193px;
    width:629px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

